<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianwen.core.center.dao.CenterDao">

	<resultMap type="order" id="orderMap">
		<id column="oid" property="oid" jdbcType="INTEGER"/>
		<result column="mid" property="mid" jdbcType="INTEGER"/>
		<result column="sum" property="sum" jdbcType="INTEGER"/>
		<result column="normal_price" property="normalPrice" jdbcType="DOUBLE"/>
		<result column="member_price" property="memberPrice" jdbcType="DOUBLE"/>
		<result column="order_time" property="orderTime" jdbcType="VARCHAR"/>
		<result column="deliver_time" property="deliverTime" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
  
	<resultMap type="orderSubDetailDto" id="orderSubDetailDtoMap">
		<id column="olid" property="olid" jdbcType="INTEGER"/>
		<result column="name" property="productName" jdbcType="VARCHAR"/>
		<result column="pro_normal_price" property="proNormalPrice" jdbcType="DOUBLE"/>
		<result column="pro_member_price" property="proMemberPrice" jdbcType="DOUBLE"/>
		<result column="sum" property="sum" jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap type="offlineOrder" id="offlineOrderMap">
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="member_no" property="memberNo" jdbcType="VARCHAR"/>
		<result column="product_name" property="productName" jdbcType="VARCHAR"/>
		<result column="orignal_price" property="orignalPrice" jdbcType="DOUBLE"/>
		<result column="member_price" property="memberPrice" jdbcType="DOUBLE"/>
		<result column="preferential_price" property="preferentialPrice" jdbcType="DOUBLE"/>
		<result column="num" property="num" jdbcType="DOUBLE"/>
		<result column="date" property="date" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="offlineOrderDto" id="offlineOrderDtoMap">
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="member_no" property="memberNo" jdbcType="VARCHAR"/>
		<result column="product_name" property="productName" jdbcType="VARCHAR"/>
		<result column="orignal_price" property="orignalPrice" jdbcType="DOUBLE"/>
		<result column="member_price" property="memberPrice" jdbcType="DOUBLE"/>
		<result column="preferential_price" property="preferentialPrice" jdbcType="DOUBLE"/>
		<result column="num" property="num" jdbcType="DOUBLE"/>
		<result column="date" property="date" jdbcType="VARCHAR"/>
		<result column="total_orignal_price" property="totalOrignalPrice" jdbcType="DOUBLE"/>
		<result column="total_member_price" property="totalMemberPrice" jdbcType="DOUBLE"/>
		<result column="total_preferential_price" property="totalPreferentialPrice" jdbcType="DOUBLE"/>
	</resultMap>
	
  	<select id="listRecentOnlineOrder" resultMap="orderMap">
  		SELECT *
  		FROM	
  			T_ORDER
  		WHERE 
  			MID = #{mid, jdbcType=INTEGER}
  		AND
  			TO_DAYS(STR_TO_DATE(ORDER_TIME, '%m.%d.%Y %h:%i:%s')) > (TO_DAYS(NOW()) - #{recentDay, jdbcType=INTEGER})
  	</select>
  	
  	<select id="listOnlineOrders" resultMap="orderMap">
  		SELECT *
  		FROM	
  			T_ORDER
  		WHERE 
  			MID = #{mid, jdbcType=INTEGER}
  	</select>
  	
  	<select id="listOrderSubDetailByOid" resultMap="orderSubDetailDtoMap">
  		SELECT
  			TOS.OLID OLID,
  			TP.NAME NAME, 
  			TOS.PRO_NORMAL_PRICE PRO_NORMAL_PRICE, 
  			TOS.PRO_MEMBER_PRICE PRO_MEMBER_PRICE, 
  			TOS.SUM SUM
  		FROM 
  			T_ORDER_SUB TOS
  		LEFT JOIN
  			T_PRODUCT TP
  		ON 
  			TOS.PID = TP.ID
  		AND
  			TOS.OID = #{oid, jdbcType=INTEGER}
  	</select>
  	
  	<select id="findOrderByOid" resultMap="orderMap">
  		SELECT *
  		FROM	
  			T_ORDER
  		WHERE 
  			OID = #{oid, jdbcType=INTEGER}
  	</select>
  	
  	
  	<select id="listRecentOfflineOrder" resultMap="offlineOrderMap">
  		SELECT *
  		FROM	
  			T_OFFLINE_ORDER
  		WHERE 
  			MID = #{mid, jdbcType=INTEGER}
  		AND
  			TO_DAYS(STR_TO_DATE(DATE, '%m.%d.%Y %h:%i:%s')) > (TO_DAYS(NOW()) - #{recentDay, jdbcType=INTEGER})
  	</select>
  	
  	<select id="listOfflineOrders" resultMap="offlineOrderMap">
  		SELECT *
  		FROM	
  			T_OFFLINE_ORDER T
  		LEFT JOIN
  			T_USER U
  		ON 
  			T.MEMBER_NO = U.PHONE
  		WHERE 
  			MEMBER_NO = #{mid, jdbcType=VARCHAR}
  	</select>
  	
  	<select id="findOfflineOrderDtoById" resultMap="offlineOrderDtoMap">
  		SELECT
  			T.*,
  			 
  		FROM	
  			T_OFFLINE_ORDER T
  		WHERE 
  			T.ID = #{id, jdbcType=INTEGER}
  	</select>
  	
</mapper>