<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianwen.core.order.dao.OrderDao">

	<resultMap type="product" id="productMap">
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="NAME" property="name" jdbcType="VARCHAR"/>
		<result column="ORIGNAL_PRICE" property="orignalPrice" jdbcType="DOUBLE"/>
		<result column="DISCOUNT_PRICE" property="discountPrice" jdbcType="DOUBLE"/>
		<result column="IMG" property="img" jdbcType="VARCHAR"/>
		<result column="CATEOGRY_NAME" property="categoryName" jdbcType="VARCHAR"/>
		<result column="CATEOGRY" property="category" jdbcType="VARCHAR"/>
		<result column="BRIEF" property="brief" jdbcType="VARCHAR"/>
		<result column="CREATETIME" property="createTime" jdbcType="VARCHAR"/>
	</resultMap>

  	<sql id="productCondition">
  		<if test="name != null and name != ''">AND P.NAME LIKE '%'||#{name}||'%' </if>
  		<if test="category != null and category != ''">AND P.CATEGORY = #{category} </if>
  		<if test="minPrice != null and minPrice != ''">P.DISCOUNT_PRICE <![CDATA[ >= ]]> #{minPrice} </if>
  		<if test="maxPrice != null and maxPrice != ''">P.DISCOUNT_PRICE <![CDATA[ <= ]]> #{maxPrice} </if>
  	</sql>
  	
  	<select id="findAllProducts" resultMap="productMap">
  		SELECT 
  				P.*, C.NAME CATEGORY_NAME 
		FROM T_PRODUCT P
		LEFT JOIN
			T_CATEGORY C
		ON P.CATEGORY = C.ID WHERE 1 = 1 ORDER BY C.SORT ASC
		<include refid="productCondition" />
  	</select>
  	
  	<select id="findProductByPid" parameterType="int" resultType="product">
  		SELECT * FROM T_PRODUCT WHERE ID = #{pid}
  	</select>
  	
  	<insert id="addNewOrder" parameterType="order">
  		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="oid">  
			SELECT LAST_INSERT_ID() AS oid
		</selectKey> 
  		INSERT INTO T_ORDER (
  			MID,
  			SUM,
  			NORMAL_PRICE,
  			MEMBER_PRICE,
  			ORDER_TIME
  		) VALUES (
  			#{mid},
  			#{sum},
  			#{normalPrice},
  			#{memberPrice},
  			#{orderTime}
  		)
  	</insert>
  	
  	<insert id="addNewOrderSub" parameterType="orderSub">
  		INSERT INTO T_ORDER_SUB (
  			OID,
  			PID,
  			PRO_NORMAL_PRICE,
  			PRO_MEMBER_PRICE,
  			SUM
  		) VALUES 
  		<foreach collection="list" item="item" index= "index" separator =",">
  			(
	  			#{item.oid},
	  			#{item.pid},
	  			#{item.proNormalPrice},
	  			#{item.proMemberPrice},
	  			#{item.sum}
  			)
		</foreach>
  	</insert>
  	
  	<select id="findOrderInfoByOid" parameterType="int" resultType="orderdto">
  		SELECT P.ID PID, P.NAME, O.OID,O.SUM TOTAL,O.NORMAL_PRICE,O.MEMBER_PRICE,OS.PRO_NORMAL_PRICE,OS.PRO_MEMBER_PRICE,OS.SUM,
  		(SELECT ID FROM T_ADDRESS WHERE MID = O.MID AND IS_DEFAULT = 1) AID FROM T_ORDER_SUB OS LEFT JOIN T_ORDER O ON OS.OID = O.OID LEFT JOIN T_PRODUCT P ON OS.PID = P.ID WHERE O.OID = #{oid}
  	</select>
  	
  	<select id="findAddressById" parameterType="int" resultType="addressdto">
  		SELECT A.*,(SELECT TITLE FROM T_AREA WHERE ID = A.PROVINCE) PROVINCE_NAME,
		(SELECT TITLE FROM T_AREA WHERE ID = A.CITY) CITY_NAME,(SELECT TITLE FROM T_AREA WHERE ID = A.AREA) AREA_NAME,A.EXACTLY FROM T_ADDRESS A WHERE A.ID = #{id}
  	</select>
  	
  	<update id="updateOrder" parameterType="order">
  		UPDATE T_ORDER
  		<trim prefix="set" suffixOverrides=",">
  			<if test="aid != null">
  				AID = #{aid},
  			</if>
  			<if test="status != null">
  				STATUS = #{status},
  			</if>
  		</trim>
        WHERE OID = #{oid}
  	</update>
  	
  	<select id="findCartByPid" resultType="cart" parameterType="int">
  		SELECT * FROM T_CART WHERE PID = #{pid} AND MID = #{mid} AND STATUS = 0
  	</select>
  	
  	<select id="findMembersCarts" resultType="cart" parameterType="int">
  		SELECT * FROM T_CART WHERE MID = #{mid} AND STATUS = 0 AND QUANTITY > 0
  	</select>
  	
  	<select id="findMembersCartsDetail" resultType="cartdto" parameterType="int">
  		SELECT C.*,P.NAME,P.IMG,P.ORIGNAL_PRICE, P.DISCOUNT_PRICE FROM T_CART C LEFT JOIN T_PRODUCT P ON C.PID = P.ID WHERE C.MID = #{mid} AND C.STATUS = 0 AND C.QUANTITY > 0
  	</select>
  	
  	<insert id="addCart" parameterType="cart">
  		INSERT INTO T_CART (
  			MID,
  			PID,
  			QUANTITY,
  			CHECKED,
  			STATUS
  		) VALUES (
  			#{mid},
  			#{pid},
  			#{quantity},
  			#{checked},
  			#{status}
  		)
  	</insert>
  	
  	<update id="updCartByCid" parameterType="cart">
  		UPDATE T_CART
  		<trim prefix="set" suffixOverrides=",">
  			<if test="quantity != null">
  				QUANTITY = #{quantity},
  			</if>
  			<if test="checked != null">
  				CHECKED = #{checked},
  			</if>
  			<if test="status != null">
  				STATUS = #{status},
  			</if>
  		</trim>
        WHERE CID = #{cid}
  	</update>
  	
  	<update id="updCartChecked" parameterType="java.util.HashMap">
  		UPDATE T_CART SET CHECKED = #{checked} WHERE MID = #{mid} AND PID = #{pid}
  	</update>
  	
  	<delete id="delCartByCid" parameterType="int">
  		DELETE FROM T_CART WHERE CID IN 
  		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
  	</delete>
  	
  	<select id="findMembersAddress" parameterType="int" resultType="address">
  		SELECT * FROM T_ADDRESS WHERE MID = #{mid}
  	</select>
  	
  	<select id="findMemberAddressById" parameterType="int" resultType="address">
  		SELECT * FROM T_ADDRESS WHERE ID = #{id}
  	</select>
  	
  	<insert id="addNewAddress" parameterType="java.util.HashMap">
  		INSERT INTO T_ADDRESS (
  			MID,
  			PROVINCE,
  			CITY,
  			AREA,
  			EXACTLY,
  			IS_DEFAULT,
  			NAME,
  			MOBILE
  		) VALUES (
  			#{mid},
  			#{province},
  			#{city},
  			#{area},
  			#{exactly},
  			#{isDefault},
  			#{name},
  			#{mobile}
  		)
  	</insert>
  	
  	<delete id="delAddress" parameterType="int">
  		DELETE FROM T_ADDRESS WHERE ID = #{id}
  	</delete>
  	
  	<update id="updAddress" parameterType="address">
  		UPDATE T_ADDRESS 
  		<trim prefix="set" suffixOverrides=",">
  			<if test="province != null">
  				PROVINCE = #{province},
  			</if>
  			<if test="city != null">
  				CITY = #{city},
  			</if>
  			<if test="area != null">
  				AREA = #{area},
  			</if>
  			<if test="exactly != null">
  				EXACTLY = #{exactly},
  			</if>
  			<if test="isDefault != null">
  				IS_DEFAULT = #{isDefault},
  			</if>
  		</trim>
  		WHERE ID = #{id}
  	</update>
  	
  	<update id="updDefaultAdd" parameterType="int">
  		UPDATE T_ADDRESS SET IS_DEFAULT = 0 WHERE MID = #{mid}
  	</update>
  	
  	<update id="doConfirmOrder" parameterType="java.util.HashMap">
  		UPDATE T_ORDER SET STATUS = 1, AID = #{aid} WHERE OID = #{oid}
  	</update>
  	
</mapper>